<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>
    <div class="about-content">
        <H1>404 | Oops!!! the Link you are looking for does not exists</H1> 
    </div>
    <%- include('./partial/footer.ejs') %>
</body>
</html>