<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
<body>
        <%- include('./partial/nav.ejs') %>
    <div class="about-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quidem ratione excepturi non fuga cumque inventore sint explicabo molestiae illum maiores voluptates praesentium ut, modi nemo laudantium reiciendis iure assumenda reprehenderit deserunt. Modi, pariatur distinctio?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quidem ratione excepturi non fuga cumque inventore sint explicabo molestiae illum maiores voluptates praesentium ut, modi nemo laudantium reiciendis iure assumenda reprehenderit deserunt. Modi, pariatur distinctio?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quidem ratione excepturi non fuga cumque inventore sint explicabo molestiae illum maiores voluptates praesentium ut, modi nemo laudantium reiciendis iure assumenda reprehenderit deserunt. Modi, pariatur distinctio?</p>
        
    </div>
    <%- include('./partial/footer.ejs') %>
</body>
</html>