<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Engine</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="SrchEngnTitle">Confused Unga Bunga</h1>
    <div class="SearchFdiv">
      <form class="searchForm">
        <input class="FormTxtarea" type="text" name="question" id="question" />
        <input class="sbtn" type="submit" value="Let's Go" />
      </form>
    </div>
    <div class="loading"></div>
   
    <div class="SearchResultOutdiv">
      <div class="heading"></div>
      <% for(let i=0;i<10; i++) {%>
      <div class="question">
        <div class="title"></div>
        <div class="url">
          <a href="" class="link"></a>
        </div>
        <div class="body"></div>
      </div>
      <% } %>
    </div>
  </body>
</html>

<script>
  let error = false;
  const form = document.querySelector("form");
  const questionElement = form.question;
  const heading = document.querySelectorAll(".heading");
  const questions = document.querySelectorAll(".question");
  const titles = document.querySelectorAll(".title");

  const urls = document.querySelectorAll(".url");
  const quesBody = document.querySelectorAll(".body");
  const loadingDiv = document.querySelector(".loading");
  const link = document.getElementsByTagName("a");
  //   console.log(questions);
  //   console.log(titles);
  //   console.log(urls);
  //   console.log(quesBody);
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const question = questionElement.value;
    for (let i = 0; i < 10; i++) {
      titles[i].innerHTML = ``;
    }
    for (let i = 0; i < 10; i++) {
      quesBody[i].innerHTML = ``;
    }
    loadingDiv.innerHTML = `Loading...`;
    for (let i = 0; i < 10; i++) {
      link[i].innerHTML = ``;
      link[i].href = "";
    }
    //fetch
    try {
      const res = await fetch(`/search?question=${question}`, {
        method: "GET",
      });
      const data = await res.json();
      
      loadingDiv.innerHTML = ``;
      
      if(data[0].flag == 0){
        error = true
        alert("The query you have typed either have a typo or is incomplete please try to put the whole question with all statements to get the better result")
      }
      else{
        heading.innerHTML = `<h2>The best search results from our database are:-</h2>`
        for (let i = 0; i < 10; i++) {
        titles[i].innerHTML = `<h3>${data[i].title}</h3>`;
        link[i].innerHTML = `Click here to see the complete problem`;
        let q_id = "/CompleteQ/" + data[i].ind.toString();
        link[i].href = q_id;
      }
      for (let i = 0; i < 10; i++) {
        quesBody[i].innerHTML = `<h4>${data[i].statement}</h4>`;
      }
      }
      
    } catch (error) {
      alert(error);
      loadingDiv.innerHTML = ``;
      error = true;
    }
  });
</script>
